<launch>
    <!-- Hikvision Camera FRONT Configuration -->
    <group ns="hik1">
        <arg name="ip_addr" default="192.168.1.65"/>
        <!-- 其他参数保持默认或根据实际情况修改 -->
        <arg name="camera_name" default="hik_camera1"/>
        <arg name="camera_frame_id" default="hik_camera1"/>
        <!-- 包含节点配置 -->
        <include file="$(find hikvision_ros)/launch/hik.launch" pass_all_args="true"/>
    </group>

    <!-- Hikvision Camera BACK Configuration -->
    <group ns="hik2">
        <arg name="ip_addr" default="192.168.1.64"/>
        <arg name="camera_name" default="hik_camera2"/>
        <arg name="camera_frame_id" default="hik_camera2"/>
        <include file="$(find hikvision_ros)/launch/hik.launch" pass_all_args="true"/>
    </group>

    <!-- Hikvision Camera LEFT Configuration -->
    <group ns="hik3">
        <arg name="ip_addr" default="192.168.1.63"/>
        <arg name="camera_name" default="hik_camera3"/>
        <arg name="camera_frame_id" default="hik_camera3"/>
        <include file="$(find hikvision_ros)/launch/hik.launch" pass_all_args="true"/>
    </group>

    <!-- Hikvision Camera RIGHT Configuration -->
    <group ns="hik4">
        <arg name="ip_addr" default="192.168.1.62"/>
        <arg name="camera_name" default="hik_camera4"/>
        <arg name="camera_frame_id" default="hik_camera4"/>
        <include file="$(find hikvision_ros)/launch/hik.launch" pass_all_args="true"/>
    </group>
</launch>